*{
    margin: 0;
    padding: 0;
    }

body{

background: #222;
color:#fff;
    font-family: system-ui;
}

.crud{
width: 80%;
margin: auto;
}

.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}

input{
width: 100%;
height: 30px;
outline: none;
border: none;
background: #111;
color: #fff;
padding:  4px;
margin: 4px 0;
border-radius: 4px;

}

input:focus{
    background: #000;
    transform: scale(1.1);
}

.price input{
width: 20%;
}

#total{
background: rgb(141, 2, 2);
padding: 5px 2px;
border-radius: 4px;
}

#total::before{
    content: 'TOTAL ';
}

button{
width: 100%;
height: 30px;
border: none;
cursor: pointer;
background: darkmagenta;
color: #fff;
border-radius: 20px;
transition: 0,5s;
}

button:hover{
background: fuchsia;
letter-spacing: 1px;
}

.btnSearch{
display: flex;
justify-content: space-between;
}

.btnSearch button{
    width: 45%;
}

#deleteAll{
margin: 20px 0;

}

table{
width: 100%;
text-align: center;
margin-top: 10px 0px;
}

table th{
text-transform: uppercase;

}

table, th, td{
    padding: 5px;
}








